<nav class="navbar navbar-expand-lg navbar-light bg-light " dir="rtl">
    <div class="container-fluid">
      <a class="navbar-brand" ><i class="fa-solid fa-industry"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >الصفحة الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">المنتجات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">معلومات عنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">ملف الشركة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">تاريخ الشركة</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link">شهادة</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        
        </ul>
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary me-2">تسجيل دخول</a>
        <a class="btn btn-outline-secondary"> تسجيل مسخدم جديد</a>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

